html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

#body {
    display: grid;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 200px calc(100vw - 200px);
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#header {
    grid-row: 1;
    grid-column: 1 / span 2;
    border-bottom: solid;
    border-width: 1px;

    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 50px calc(100vw - 50px);
    align-items: center;
}

#menu-toggle div{
    height: 0px;
    border: solid;
    border-width: 1px;
    width: 30px;
    margin: 5px 5px;
    grid-row: 1;
    grid-column: 1;
}


#header h1{
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

#sidebar {
    display: none;
    background-color: hsl(190, 100%, 75%);
    padding-left: 5px;
    border-right: solid;
    border-width: 1px;
}

#body .show-sidebar{
    display: block;
    height: 100vh;
    width: 200px;
    z-index: 1;
    position: absolute;
}

#sidebar-click-away{
    display: none;
    background-color: hsla(0, 0%, 90%, .6);
    overflow: scroll;
}

#body .show-click-away {
    display: block;
    height: 100vh;
    width: calc(100vw - 200px);
    z-index: 1;
    position: absolute;
    margin-left: 200px;
}

#menu {
    font-size: 1rem;
}

#menu li{
    margin-top: 5px;
}

#content {
    display: flex;
    flex-flow: column;
    grid-row: 2;
    grid-column: 1 / span 2;
    overflow: scroll;
    padding: 0px 10px 40px 10px;
    scroll-behavior: smooth;
}

#content h1{
    margin: 10px 0px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#content h2{
    margin: 5px 0px;
    margin-left: 20px;
}

#content h3 {
    margin: 3px 0px;
    margin-left: 40px;
}

#content ul {
    margin-left: 60px;
}

#content li {
    margin: 1px 0px;
}

@media (min-width: 650px){
    body {
        grid-template-columns: 200px calc(100vw - 200px)
    }

    #header {
        grid-column: 2;
        grid-template-columns: calc(100vw - 200px);
    }

    #header h1{
        grid-column: 1;
    }

    #menu-toggle{
        display: none;
    }

    #sidebar{
        display: block;
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    #content {
        grid-column: 2;
    }
}